

.heading {
    text-align: center;
    font-size: 3rem;
    
}

.logo{
    width: 40px;
}

body {
    background-color:rgb(8, 1, 1);
    font-family: "Arial Black", sans-serif;
    color: #aeb2b4;
    text-align: center;
}
.results-area {
    width:100%;
    margin: 5px auto;
    font-size: 1.4rem;
    display:block;
}

.bottom-space {
margin:0 auto;
padding-bottom: 20px;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 500px;
    max-height:fit-content;
}

.tile {
    border: 3px solid #aeb2b4 ;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    color: #ef65b6;
}

.playerO {
    color: #4cd1ef;
}

