

.heading {
    text-align: center;
    font-size: 3rem;

    
}

.logo{
    width: 40px;
}


body {
    background-color:rgb(8, 1, 1);
    font-family: "Arial Black", sans-serif;
    color: #5a6168;
    text-align: center;
}