/* Here is the properties for the outer header container*/
#outer-header-container {
    width: 900px;
    margin: 0 auto;
}

/* Here is the properties for the header*/
/* .heading {
    text-align:center;
} */

/* Here is the logo*/
.logo {
    width: 60px;
}

/* Here is the code for the body */
body {
    background-color: rgb(8, 1, 1);
    font-family: "Arial Black", sans-serif;
    color: #c8c9ca;
    text-align: center;    
}


/* Here is the properties for the container and the tiles*/
.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 400px;
    max-height: fit-content;
    margin-bottom: 2.5rem;
}

.tile {
    border: 3px solid #aeb2b4;
    min-width: 120px;
    min-height: 120px;
    cursor: grab;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    display: flex;
}

/* here you can see the colors that i used for each player */
.playerX {
    color: #d298ba;
}

.playerO {
    color: #4cd1ef;
}
/* here is the buttons-icons for each player */
.player-O-icon {
    background-image: url('../images/Screenshot-O.png');
    background-repeat: no-repeat;
    background-size:  120px;
    background-position: 4px 12px;
}
.player-X-icon {
    background-image: url('../images/Screenshot-X.png');
    background-repeat: no-repeat;
    background-size:  134px;
    background-position: -6px 0px;
}

/* Here is the css code for the results */
.result {
    float: left;
    width: 33.3%;
    display: inline-table;
    margin-bottom: 5rem;
    margin-top: 2.5rem;
}
.results-area {
    width: 100%;
    margin: 2.5px auto;
    font-size: 1.4rem;
    display: block;
}

/* Here is the properties for the reset button*/
#reset {
    width: 180px;
    height: 50px;
    font-size: 1.1rem;
}
    
.reset-button {
    clear:both;
    font-size: 1.4rem;
}
